# Begin Project
# Begin SubItem "GPCE3100_ROMCode  Resources"
# Begin Group "SPI_Resources_Folder"
#PROP Default_Filter=
USEPARAM=FALSE
PARAM=
EXPORT=3
SPECIFICFLAG=0
# Begin Source File
SOURCE=voice\decimal\a18\N000_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N000_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N001_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N001_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N002_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N002_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N003_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N003_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N004_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N004_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N005_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N005_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N006_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N006_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N007_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N007_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N008_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N008_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N009_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N009_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\decimal\a18\N010_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_N010_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_A_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_A_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_B_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_B_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_C_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_C_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_D_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_D_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_E_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_E_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_F_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_F_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_G_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_G_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_H_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_H_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_I_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_I_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_J_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_J_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_K_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_K_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_L_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_L_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_M_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_M_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_N_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_N_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_O_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_O_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_P_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_P_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_Q_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_Q_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_R_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_R_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_S_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_S_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_T_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_T_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_U_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_U_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_V_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_V_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_W_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_W_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_X_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_X_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_Y_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_Y_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\letter\a18\EN_Z_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_EN_Z_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\music\a18\DANCEICE_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_DANCEICE_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\music\a18\danger_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_DANGER_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\music\a18\HATCHSONG_16K_wav.a18
USEPARAM=FALSE
PARAM=
ID=RES_HATCHSONG_16K_WAV_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# Begin Source File
SOURCE=voice\music\a18\tailor3_16K.a18
USEPARAM=FALSE
PARAM=
ID=RES_TAILOR3_16K_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# End Group
# End SubItem
# End Project
